.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5%;
    background: #fff;
    /* box-shadow: var(--box-shadow) */
    box-shadow: 2px 2px 2px rgb(242, 221, 221);
}
.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    text-decoration: none;
    padding-right: 5px;

}